@import '../../style/variables';

.sort-header{
  display: flex;
  margin: 0 6px 10px;
  align-items: flex-end;

  input{
    flex: 1;
    margin-right: 3px!important;
    margin-left: 0!important;
    height: 40px;
  }

  &__group{
    display: flex;
    margin: 0 3px;
    flex-direction: column;
    text-align: center;

    &:last-child{
      margin-right: 0;
      img{
        width: 20px;
        height: 20px;
      }
    }
  }

  &__group-title{
    flex: 1;
    margin-bottom: 5px;
  }

  &__group-cell{
    background-color: $bgc-grey;
    display: flex;
    border-radius: 3px;
    padding: 0 2px;
  }

  &__cell{
    width: 30px;
    height: 30px;
    margin: 4px;
    background-color: $bgc;
    border-radius: 3px;
    border: 1px solid $black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: box-shadow .3s;

    &:hover{
      box-shadow: 0 0 10px 2px $bgc-15;
    }

    &.active{
      box-shadow: 0 0 3px 2px $color-text;
    }

    img{
      width: 100%;
    }

    svg{
      width: 28px;
      height: 28px;
    }
    div{
      display: flex;
    }
  }
}