@import '../../style/variables';

.sort-footer {
  display: flex;
  flex-wrap: wrap;

  input[type='text'] {
    &:first-child {
      width: 100%;
    }
  }

  input[type='submit'] {
    width: auto;
    flex: 1;
    margin-left: 0;
    cursor: pointer;
    transition: background-color .4s, color .4s;

    &:hover{
      background-color: $color-accent;
      color: $white;
    }
  }

  textarea {
    width: 100%;
    margin: 5px;
    height: 60px;
  }
}